export NS_INGRESS_IP=<SupervisorCluster or NamespaceIngressIP>
export VS_NAMESPACE=<vSphere NameSpace name> 
export NS_ADMIN_UNAME=<Admin Username for vSphere NameSpace>
export NS_ADMIN_PWD=<Admin Password for vSphere NameSpace>
export KUBECTL_VSPHERE_PASSWORD=${NS_ADMIN_PWD}
