export SUPERVISOR_CLUSTER_IP=<IngressIP-For-SupervisorCluster>
export SUPERVISOR_CLUSTER_USER=<vphereuser@domainname>
export KUBECTL_VSPHERE_PASSWORD=<Password for vphereuser@domainname>
export VS_NAMESPACE=<IngressIP-For-SupervisorCluster or vSphereNameSpace Name>
export HARBOR_IP=<HARBORIP>
export HARBOR_ROOT_CA_CRT=<PathtoHarborRootCAfile>
